<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1024081251738-6qc74fd3uoh01lobk4pp6rpv47ld98g7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1024081251738-6qc74fd3uoh01lobk4pp6rpv47ld98g7</string>
	<key>API_KEY</key>
	<string>AIzaSyBGwr5sl620DcK_YFL4oMe35L0RKvvNkFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1024081251738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.miniproApp</string>
	<key>PROJECT_ID</key>
	<string>findcafe-9ee75</string>
	<key>STORAGE_BUCKET</key>
	<string>findcafe-9ee75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024081251738:ios:e8b9387627342439957e23</string>
</dict>
</plist>